<!-- ---
import React, { useState, useEffect } from "react";
---

const ToggleDarkMode = () => {
  const [isDarkMode, setIsDarkMode] = useState(false);

  const handleDarkModeToggle = () => {
    const newDarkMode = !isDarkMode;
    setIsDarkMode(newDarkMode);
    localStorage.setItem("theme", newDarkMode ? "dark" : "light");
    document.documentElement.classList.toggle("dark", newDarkMode);
  };
  useEffect(() => {
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
      setIsDarkMode(savedTheme === "dark");
      document.documentElement.classList.toggle("dark", savedTheme === "dark");
    }
  }, []);

  return (
    <div className="flex relative w-max p-1 rounded-[10px] border border-zinc-400 dark:border-onyx-700 bg-zinc-100 dark:bg-onyx-900 items-center justify-center">
      <input
        class="opacity-0"
        id="toggle-darkmode"
        type="checkbox"
        checked={isDarkMode}
        onChange={handleDarkModeToggle}
      />
      <div className="dark-icon flex items-center justify-center absolute">
        <img
          class="sun"
          src={"/sun.svg"}
          alt="sun"
          width={22}
          height={22}
        />
        <img
          class="moon"
          src={"/moon.svg"}
          alt="moon"
          width={22}
          height={22}
        />
      </div>
    </div>
  );
};

export default ToggleDarkMode; -->