:root[data-theme="light"] {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope Variable", sans-serif;
  background-color: #060913;
  color: #f2f6fa;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 18px;
  line-height: 1.7;
}
main {
  max-width: 1280px;
  /* max-width: calc(100% - 1em); */
  margin: auto;
  padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans);
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5em 0;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 4em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.2em;
}

.atkinson400 {
  font-family: "Atkinson", sans-serif;
  font-weight: 400;
}
.atkinson700 {
  font-family: "Atkinson", sans-serif;
  font-weight: 700;
}
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}
.hamburger {
  cursor: pointer;
}

.hamburger .line {
display: block;
width: 29px;
height: 2px;
margin-bottom: 5px;
background-color: #ffffff;
border-radius: 20px;
}
@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

}
@media screen and (min-width: 636px) {
.nav-links {
  margin-left: 5em;
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  width: auto;
  background: none;
}

.nav-links a {
  display: inline-block;
  padding: 15px 20px;
}

.hamburger {
  display: none;
}
}