main{
    width: calc(100% - 2em);
	max-width: 100%;
	margin: 0;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6{
    margin: 1rem 0;
}
a{
    color: #a3e635;
}
a:hover{
    text-decoration: underline;
}
mark{
   background-color: aquamarine; 
}
ul,
ol {
  font-size: 1.3rem;
  margin: 1.2em 0;
}

ol,
ul {
  padding-left: 1rem;
}
ul{
    list-style-type: none;
}
li::before {
    content: "\2022"; 
    color: #a3e635;
}
ol{
	list-style-type: decimal;
}
li {
	font-size: 1rem;
  	margin: 1rem 0;
    position: relative;
}
p{
    font-size: 1rem;
}