---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Greeting from '../components/Greeting';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION , cardplatforms} from '../consts';
import { ViewTransitions } from "astro:transitions";
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1>Sorry Not Found</h1>
    <a class="px-5 py-2 rounded-lg bg-onyx-900" href="/">Go Back!</a>
</BaseLayout>
