---
import { IconsUI } from "../constants/Icons";
import BaseLayout from "../layouts/BaseLayout.astro";
const PageTitle = "Buy me a Coffee";
---

<BaseLayout>
	<div>
		<h1>🧑 Buy Me a Coffee {IconsUI.calender}</h1>
	</div>
</BaseLayout>
