---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { IconsUI } from '../constants/Icons';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑 Buy Me a Coffee ${IconsUI.calender}</h1>
			<img src="/public/icons/google.svg" alt="">
		</main>
		<Footer />
	</body>
</html>
