---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-onyx-50 dark:bg-black text-onyx-900 dark:text-onyx-50">
		<Header title={SITE_TITLE} />
		<main>
			<div class="flex items-center justify-between w-full ">
				<div class="flex flex-col gap-5">
					<h1 class="text-7xl font-bold text-lime-400">Obey your Grandad!</h1>
					<h3 class="text-3xl leading-none">I have a lot of documentation of my learning on the internet.</h3>
				</div>
				<img class="max-w-[600px]" src="/avatar.webp" alt="avatar">
			</div>
		</main>
		<Footer />
	</body>
</html>
