---
import BlogCard from "../components/BlogCard.astro"
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout>
	<div
		class="flex items-center justify-between w-full max-sm:flex-col-reverse lg:gap-12"
	>
		<Hero />
	</div>
	<BlogCard />
</BaseLayout>
