---
import Navigation from "./Navigation.astro";
import SearchBar from "./UI/SearchBar.astro";
---

<header
	class="fixed top-3 w-full z-50 px-9 flex items-center shadow-2xl"
>
	<nav class="w-full flex items-center justify-between bg-onyx-900 px-9 py-5 rounded-full  border border-onyx-100/5">
		<div class="flex items-center">
			<a class="flex items-center mr-9 max-sm:mr-0" href="/">
				<img
					class="w-[40px] h-[40px] rounded-full"
					src="/logo.webp"
					alt="logo"
				/>
				<span class="pl-3 font-bold text-2xl text-lime-400 leading-none"
					>Grandpa</span
				>
			</a>
			<Navigation />
		</div>
		<div class="flex items-center">
			<SearchBar />
			<button class="block md::hidden lg:hidden xl::hidden">
				<svg
            class="h-[1.25rem] w-[1.25rem] flex-shrink-0 hs-collapse-open:hidden"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" x2="21" y1="6" y2="6"></line>
            <line x1="3" x2="21" y1="12" y2="12"></line>
            <line x1="3" x2="21" y1="18" y2="18"></line>
          </svg>
          <svg
            class="hidden h-[1.25rem] w-[1.25rem] flex-shrink-0 hs-collapse-open:block"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
			</button>
		</div>
	</nav>
</header>
