---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import DarkMode from './UI/DarkMode.astro';
import Hamburger from './UI/Hamburger.astro';
import ThemeIcon from './UI/ThemeIcon.astro';
import SearchBar from './UI/SearchBar.astro';
---

<header class="bg-onyx-900">
	<nav class="relative">
		<div class="flex items-center">
			<a class="flex items-center" href="/">
				<img class="w-[40px] h-[40px] rounded-full" src="/logo.webp" alt="logo">
				<span class="pl-3 font-bold text-2xl text-lime-400 leading-none">Grandpa</span>
			</a>
			<div class="internal-links ml-4 max-sm:absolute max-sm:flex max-sm:flex-col">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/learn">Learn</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/roadmap">Roadmap</HeaderLink>
				<HeaderLink href="/tools">Tool's</HeaderLink>
				<HeaderLink href="/buymeacoffee">Buy me a coffee!</HeaderLink>
			</div>
		</div>
		<div class="flex gap-3">
			<SearchBar />
			<Hamburger />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 2em;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		color: #a3e635;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
