---
import Section from "./section/Section.astro"
---
<Section>
    <div class="flex flex-col max-sm:*:text-center">
        <h1
            class="atkinso700 text-[3.1rem] font-bold max-sm:text-3xl leading-none pt-[1rem]"
        >
            I'll teach you digital marketing best practices that are easy to
            implement in your work, <span class="text-lime-400"
                >because Grandpa Knows Best!</span
            >
        </h1>
        <p class="text-2xl text-zinc-400 font-[400]">
            If you want to learn digital marketing the right way, <span
                class="text-lime-400 underline">obey your grandpa</span
            >. I've been in the game for years and know what I'm talking
            about.
        </p>
    </div>
</Section>