---
import HeaderLink from "./HeaderLink.astro";
 
---

<nav class="nav-links">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/learns" >Learn</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/roadmap">Roadmap</HeaderLink>
    <HeaderLink href="/tools">Tool's</HeaderLink>
    <HeaderLink href="/buymeacoffee">Buy me a coffee!</HeaderLink>
</nav>

