---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION , cardplatforms} from '../consts';
import { ViewTransitions } from "astro:transitions";
import { pwaInfo } from 'virtual:pwa-info';
import ReloadPrompt from '../components/ReloadPrompt.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
		{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
	</head>
</head>
<body>
	<Header />
    <main>
		<div class="mt-12">
			<slot />
		</div>
	</main>
	<Footer />
	<ReloadPrompt />
	<!-- <script>
		document.querySelector('.hamburger').addEventListener('click', () => {
		  document.querySelector('.nav-links').classList.toggle('expanded');
		});
	  </script> -->
</body>
</html>