---
import React from '@astrojs/react';
---

    <div class="bg-zinc-400 rounded-full flex items-center justify-center w-max">
        if
        <select name="" id="">
            <option value="dark">Dark</option>
            <option value="light">Light</option>
        </select>
    </div>
    