---
import React from '@astrojs/react';
---

    <div class="bg-zinc-400 rounded-full flex items-center justify-center w-max">
        <select name="" id="theme-switcher" class="text-[14px]">
            <option value="dark">Dark</option>
            <option value="dark">Light</option>
        </select>
    </div>

    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        } else {
        document.documentElement.classList.remove('dark')
        }
        localStorage.theme = 'light'

        localStorage.theme = 'dark'

        localStorage.removeItem('theme')
    </script>
    