---
import react from '@astrojs/react';
---


const ToogleDarkMode = ({dark}) => {
    const [isDark, setIsDark] = useContext(false)
    return(
    <div class="bg-zinc-400">
        <input type="checkbox" name="" id="">
        <img src="/sun.svg" alt="">
    </div>
    )
}