---
---
<div class="hamburger lg:hidden max-sm:block ">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
.hamburger {
    cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}

</style>